* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%; /* 横幅100% */
  height: 70px; /* 高さ70px */
  background-color: #EC715F; /* 背景色をカラーコードで指定 */
}

.heading img{height: 70px;}

nav{
  width: 960px; /* 横幅960px */
  height: 70px; /* 高さ70px */
  margin: 0 auto;  /* 中央寄せ */
  display: flex; /* flexboxを設定 */
  justify-content: flex-end; /* 子要素を右詰めで順に並べるように設定する */
}

nav > :first-child {margin-right: auto;}

.nav-list{
  width: 560px; /* 横幅560px */
  display: flex; /* flexboxを設定 */
  justify-content: flex-end; /* 要素を右詰めで順に並べるように設定する */
}

.nav-list-item{
  margin: 0 30px; /* 上下に0pxの隙間、左右に30pxずつの隙間を発生させる。 */
  list-style: none; /* li使用時に発生する黒丸を削除 */
  line-height: 70px; /* 行の高さを70pxに設定し、縦方向に中央寄せで文字を配置する */
  text-align: center; /* 横方向に中央寄せで文字を配置する。*/
  color: white; /* 文字色を白に変更 */
}

.nav-list-item a{
  text-decoration: none; color: white; }

.main-visual{ 
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ650px */
  background-image: url(img/mv.png); /* 背景画像を設定、imgフォルダ内のmv.pngを使用 */
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */ 
}

.main-visual-text{
  width: 650px; /* 横幅650px */
  height: 650px; /* 高さ650px */
  margin: 0 auto; /* 中央寄せ */
  text-align: center; /* 横方向に中央寄せで文字を配置する。*/
  color:white;  /* 文字色を白に変更 */ 
}
.main-visual-title{
  padding-top: 220px; /* 上方向に220pxの余白を設定。背景色はないので空白が発生 */
  font-size: 60px; /* 文字のサイズを60pxに設定 */
}

.main-visual-subtitle{
  font-size: 18px; /* 文字のサイズを18pxに設定 */
  line-height: 38px;}

main{width: 100%; /* 横幅いっぱい */}

.portfolio{
  padding: 90px 0 90px 0; /* 余白を上下に90pxずつ、左右には余白無し */
  text-align: center; /* .portfolio内の文字はすべて横方向に中央寄せなのでまとめて設定 */
}

.border_line{
    width: 60px; /* 横幅60px */
    height: 8px; /* 高さ8px */
    border-bottom: 3px solid pink; /* 要素の下に3pxのpink色の直線を引く */
    margin: 0 auto;  /* 中央寄せ */
}

.main-text{padding: 30px 0; }

.main-contents{
  width: 930px; /* 横幅930px */
  margin: 0 auto; /* 中央寄せ */
  display: flex; /* Flexboxを設定 */
  flex-wrap: wrap;
}

.main-contents-box{
  width: 300px; /* 横幅300px */
  height: 300px; /* 高さ300px */
  margin:5px; /* 四方に隙間を5px設定 */
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

/* ここから追加 */
.img1{background-image: url(img/img1.jpg);}
.img2{background-image: url(img/img2.jpg);}
.img3{background-image: url(img/img3.jpg);}
.img4{background-image: url(img/img4.jpg);}
.img5{background-image: url(img/img5.jpg);}
.img6{background-image: url(img/img6.jpg);}



.box1{width: 100%;text-align: center;}
.profile{font-size: xx-large;}
.profiletext{margin: 30px 0;}


.box2{width: 100%;}

.box3{
  width: 930px;
  height: 390px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.myicon{
  width: 300px; 
  height: 300px; 
  background-color: pink;
background-image:url(img/myicon.jpg);
border-radius: 50%;
background-size: cover;
}

.myicontext{
  width: 400px; 
  height: 300px;
  margin-left: 100px;
}

.midasi{font-size: 20px;line-height: 30px;}


footer {
  width: 100%; /* 横幅100% */
  height: 60px; 
  text-align: center; 
  line-height: 60px;
  background-color: #EC715F; 
}

.footer-text { color: white; }