* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  width: 100%; 
  height: 70px;
  background-color: #EC715F; 
}

.heading img{height: 70px;}

nav{
  width: 960px; 
  height: 70px;
  margin: 0 auto; 
  display: flex; 
  justify-content: flex-end;
}

nav > :first-child {margin-right: auto;}

.nav-list{
  width: 560px; 
  display: flex; 
  justify-content: flex-end; 
}

.nav-list-item{
  margin: 0 30px; 
  list-style: none; 
  line-height: 70px; 
  text-align: center; 
  color: white; 
}

.nav-list-item a{
  text-decoration: none; color: white; }

.main-visual{ 
  width: 100%;
  height: 650px; 
  background-image: url(img/mv.png); 
  background-size: cover; 
  background-position: center; 
}

.main-visual-text{
  width: 650px; 
  height: 650px; 
  margin: 0 auto; 
  text-align: center;
  color:white;  
}
.main-visual-title{
  padding-top: 220px; 
  font-size: 60px; 
}

.main-visual-subtitle{
  font-size: 18px; 
  line-height: 38px;}

main{
  width: 100%;
 justify-items: center;
}

.portfoliozone{
  padding: 90px 0 ;
  text-align: center; 
}

.border_line{
    width: 60px; 
    height: 8px; 
    border-bottom: 3px solid pink; 
    margin: 0 auto;  
}

.main-text{padding: 30px 0; }

.main-contents{
  width: 930px; 
  margin: 0 auto; 
  display: flex; 
  flex-wrap: wrap;
}

.main-contents-box{
  width: 300px; 
  height: 300px; 
  margin:5px; 
  background-size: cover; 
  background-position: center; 
}


.img1{background-image: url(img/img1.jpg);}
.img2{background-image: url(img/img2.jpg);}
.img3{background-image: url(img/img3.jpg);}
.img4{background-image: url(img/img4.jpg);}
.img5{background-image: url(img/img5.jpg);}
.img6{background-image: url(img/img6.jpg);}



section{
  width: 100%;
  height: 500px;
justify-items: center;
margin-bottom: 90px;
}

.profilebox{text-align: center;}
.profiletext{
  margin: 30px 0;
  text-align: center;}



.myiconzone{
  width: 800px;
  height: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
}

.myicon{
  width: 300px; 
  height: 300px; 
  background-color: pink;
background-image:url(img/myicon.jpg);
border-radius: 50%;
background-size: cover;
margin-right: 100px;
}

.myicontext{
  width: 400px; 
  height: 300px;
}

.midasi{
  width: 400px;
  font-size: 20px;line-height: 30px;
}


footer {
  width: 100%; /* 横幅100% */
  height: 60px; 
  text-align: center; 
  line-height: 60px;
  background-color: #EC715F; 
}

.footer-text { color: white; }